/***************************************************************/
/**-- Categoria, departamento, resultado de busca -------*******/
/*-------------------------------------------------------------*/

.categoria {
	color: #142032;

	.bread-crumb {
		margin-bottom: 54px;

		@include mq(md, max) {
			margin-bottom: 16px;
		}
	}

	.filtros-categoria {
		@include mq(md, max) {
			background-color: #fff;
			bottom: 0;
			left: 0;
			margin-left: -100%;
			max-width: 375px;
			opacity: 0;
			position: fixed;
			top: 0;
			transition: all 0.45s ease-in-out;
			visibility: hidden;
			width: 100%;
			z-index: map-get($z-index, menu);
		}

		&.mobile-open {
			@include mq(md, max) {
				opacity: 1;
				visibility: visible;
				margin-left: 0;
			}
		}

		.topo-filtros {
			border-bottom: 1px solid hsla(0, 0%, 90%, 1);

			@include mq(md, max) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			h3 {
				display: inline-block;
				font-size: 22px;
				margin: 0;
				text-transform: uppercase;

				@include mq(md, max) {
					padding: 20px 20px 15px;
				}
			}

			#close-filter-button {
				background: transparent;
				border: none;
				cursor: pointer;
				display: inline-block;
				right: 16px;
				outline: none;
				position: absolute;
				top: 21px;

				@include mq(md, min) {
					display: none;
				}

				&::before {
					border-left: 1px solid #eee;
					content: "";
					display: block;
					height: 36px;
					position: absolute;
					left: -20px;
					top: -6px;
				}

				span {
					display: block;
					padding: 12px;
					position: relative;

					&::before,
					&::after {
						border: 1px solid #142032;
						content: "";
						display: block;
						left: 0;
						position: absolute;
						top: 12px;
						width: 24px;
					}

					&::before {
						transform: rotate(45deg);
					}

					&::after {
						transform: rotate(-45deg);
					}
				}
			}
		}

		a {
			color: #142032;
		}

		.navigation-tabs {
			@include mq(md, max) {
				bottom: 64px;
				overflow-y: auto;
				padding: 10px 15px;
				padding: 10px 15px;
				position: absolute;
				top: 70px;
				width: 100%;
			}

			.menu-navegue,
			.search-single-navigator,
			.productClusterSearchableIds,
			.search-multiple-navigator h3,
			.search-multiple-navigator h4,
			.search-multiple-navigator > ul,
			.bt-refinar {
				display: none !important;
			}

			.refino-marca,
			.refino {
				display: block;
				padding: 0;

				h5 {
					font-size: 14px;
					font-weight: 700;
					margin: 15px 0 8px;
					text-transform: uppercase;

					@include mq(md, max) {
						font-size: 18px;
					}
				}

				label {
					a {
						color: #151728;
						transition: ease-in 0.22s all;

						&:hover {
							text-shadow: 0px 0px 0.55px #151728;
						}
					}
				}

				div {
					max-height: 250px;
					overflow: auto;

					&::-webkit-scrollbar {
						width: 6px;
					}

					&::-webkit-scrollbar-track {
						background-color: hsla(0, 0%, 90%, 1);
						border-radius: 15px;
					}

					&::-webkit-scrollbar-thumb {
						background-color: hsl(0, 0%, 77%);
						border-radius: 15px;
					}

					&::-webkit-scrollbar-thumb:hover {
						background-color: darken(hsl(0, 0%, 77%), 10);
					}
				}

				label {
					color: #142032;
					cursor: pointer;
					display: block;
					font-size: 14px;
					margin-bottom: 5px;

					@include mq(md, max) {
						font-size: 18px;
						margin-bottom: 15px;
					}
				}

				input[type="checkbox"],
				input[type="radio"] {
					cursor: pointer;
					margin: 0 3px 0 5px;
					visibility: hidden;

					@include mq(md, max) {
						height: 18px;
						width: 24px;
					}

					& ~ .sr_box {
						border: 1px solid #142032;
						border-radius: 50%;
						content: " ";
						color: hsl(0, 0%, 77%);
						display: inline-block;
						font-size: 13px;
						font-weight: bold;
						float: left;
						height: 16px;
						line-height: 11px;
						margin-right: -24px;
						visibility: visible;
						text-align: center;
						transition: all 0.15s linear;
						width: 16px;

						@include mq(md, max) {
							height: 24px;
							width: 24px;
						}

						&::before {
							background-color: transparent;
							border-radius: 50%;
							content: "";
							display: block;
							margin: 2px;
							padding: 5px;
							transition: all 0.15s ease-in-out;

							@include mq(md, max) {
								margin: 7px;
								padding: 4px;
							}
						}
					}

					&:hover ~ .sr_box {
						&::before {
							background-color: lighten(#f71963, 15);
						}
					}

					&:checked ~ .sr_box {
						&::before {
							background-color: #f71963;
						}
					}
				}

				input[type="radio"] ~ .sr_box {
					-webkit-border-radius: 50%;
					border-radius: 50%;
				}
			}
		}

		.clear-filter-btn {
			@include mq(md, max) {
				display: none;
			}
		}

		.aply-filter-btn {
			background-color: #eee;
			border: none;
			bottom: 0;
			font-size: 14px;
			font-weight: 700;
			outline: none;
			padding: 24px 15px;
			position: absolute;
			text-transform: uppercase;
			transition: all 0.15s ease-in-out;
			width: 100%;

			@include mq(md, min) {
				display: none;
			}

			&:active {
				background-color: darken(#eee, 5);
			}
		}
	}

	.topo-resultado {
		margin-bottom: 8px;

		@include mq(md, max) {
			margin: 0 -15px 25px;
			text-align: center;
		}

		@include mq(lg, min) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		h2 {
			display: inline-block;
			font-size: 30px;
			font-weight: 700;
			margin: 0;
			line-height: 1;
			text-transform: lowercase;

			@include mq(md, max) {
				display: block;
				margin-bottom: 15px;
				text-align: center;
			}

			@include mq(lg, min) {
				max-width: 50%;
			}

			@include mq(xl, min) {
				max-width: 60%;
			}
		}

		.opcoes-resultado {
			@include mq(md, max) {
				align-items: center;
				border: 1px solid hsla(0, 0%, 90%, 1);
				display: flex;
				justify-content: left;
			}
		}

		#open-filter-button {
			background-color: transparent;
			border: none;
			border-right: 1px solid hsla(0, 0%, 90%, 1);
			color: $black-500;
			cursor: pointer;
			display: none;
			font-size: 16px;
			outline: none;
			padding: 24px;
			width: 50%;

			@include mq(md, max) {
				display: inline-block;
				max-width: 50%;
				width: 100%;
			}
		}

		.orderBy {
			display: inline-block;
			padding: 0;

			@include mq(md, max) {
				margin: 0;
				max-width: 50%;
				padding: 0;
				position: relative;
				width: 100%;
			}

			@include mq_range(md, lg) {
				margin-top: 20px;
			}

			label {
				font-size: 16px;

				@include mq(md, max) {
					align-items: center;
					bottom: 0;
					display: flex;
					font-size: 0;
					justify-content: center;
					left: 0;
					position: absolute;
					pointer-events: none;
					right: 0;
					top: 0;
					text-align: center;
				}

				&:after {
					content: "Ordenar";
					display: none;
					font-weight: 400;
					font-size: 16px;

					@include mq(md, max) {
						display: block;
					}
				}
			}

			select {
				background-color: transparent;
				cursor: pointer;
				color: hsla(220, 1%, 43%, 1);
				font-size: 14px;
				margin-left: 8px;
				outline: none;
				padding: 10px 18px;

				@include mq(md, max) {
					margin: 0;
					opacity: 0;
					padding: 24px 18px;
					width: 100%;
				}

				option:first-child() {
					display: none;
				}
			}
		}

		.clear-filter-btn {
			display: none;
			margin: 13px auto 0;
			width: 90%;

			&.active {
				display: block;
			}

			@include mq(md, min) {
				display: none !important;
			}
		}
	}

	.clear-filter-btn {
		background-color: #142032;
		border: none;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		font-size: 12px;
		font-weight: 700;
		margin-top: 40px;
		max-width: 100%;
		outline: none;
		padding: 17px;
		text-transform: uppercase;
		transition: all 0.15s ease-in-out;
		width: 100%;

		&:hover {
			background-color: lighten($black-500, 2.5);
		}

		&:active {
			background-color: darken($black-500, 2.5);
		}
	}

	.produtos-da-categoria {
		overflow: hidden;

		.orderBy,
		.sub:last-child,
		.pages,
		.searchResultsTime,
		.resultado-busca-filtro .filterBy,
		.resultado-busca-filtro .compare {
			display: none;
		}

		li {
			float: none;
			display: inline-block;
			vertical-align: top;
			max-width: 33%;
			margin-bottom: 16px;
			width: 100%;

			@include mq(lg, max) {
				max-width: 49%;
			}
		}

		.produto-na-prateleira {
			img {
				@media only screen and (max-width: 400px) {
					width: 200px;
				}

				@media only screen and (min-width: 400px) and (max-width: 500px) {
					width: 220px;
				}
			}
		}
	}

	.paginated-container {
		ul.list-pages {
			margin: 40px auto 20px;
			text-align: center;

			li {
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
				max-width: none;

				width: 0;
				margin: 0 -2px;
				opacity: 0;
				transition: all 0.15s linear;
				visibility: hidden;

				&#first,
				&#last {
					display: none;
				}

				&#prev,
				&#next,
				&#first,
				&#last,
				&.ativo {
					width: auto;
					opacity: 1;
					visibility: visible;
				}

				&.current {
					a {
						background-color: $black-500;
						color: #fff;
						pointer-events: none;
					}
				}

				&#prev,
				&#next,
				&#first,
				&#last {
					a {
						font-size: 0;
						text-indent: -99999px;
						overflow: hidden;
						color: hsla(220, 1%, 43%, 1);

						&:before {
							@include pseudo(block, relative, "\00BB");
							font-size: 18px;
							text-indent: 0;
							line-height: 21px;
						}
					}
					&.desativo a {
						color: hsl(0, 0%, 77%);
						pointer-events: none;
						width: 0;
						opacity: 0;
						visibility: hidden;
					}
				}
				&#first a:before {
					content: "\00AB";
				}
				&#prev a:before {
					content: "\2039";
				}
				&#next a:before {
					content: "\203A";
				}
			}
			a {
				background-color: #fff;
				color: $black-500;
				padding: 4px 12px;
				text-decoration: none;
				display: block;
				border: 1px solid #e5e5e5;

				@include mq(md, min) {
					&:hover {
						background-color: #e5e5e5;
						color: darken($black-500, 15);

						&:active {
							color: darken($black-500, 10);
						}
					}
				}
			}
		}
	}

	.vtexsr-emptySearch {
		text-align: center;
	}

	#scrollLoading {
		text-align: center;
	}

	.load-more {
		text-align: center;

		button {
			background-color: #142032;
			border: none;
			color: #fff;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
			margin-top: 40px;
			max-width: 260px;
			outline: none;
			padding: 24px 15px;
			text-transform: uppercase;
			transition: all 0.15s ease-in-out;
			width: 100%;

			&:hover {
				background-color: lighten($black-500, 2.5);
			}

			&:active {
				background-color: darken($black-500, 2.5);
			}
		}
	}
}

#returnToTop {
	display: none !important;
}
