// fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family: "Inter", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors

$black-500: #000000;
$white-500: #ffffff;
$blue-500: #00c8ff;

$gray-100: #e0e0e0;
$gray-200: #828282;
$gray-500: #333333;

// universal

// Grid breakpoints

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$z-index: (
	menu: 15,
	popup-add-cart: 10,
	dropdown: 10,
	flag-prateleira: 5,
	comprar-flutuante: 5,
	avise-me: 5,
	scroll-top: 7,
	header-fixo: 10,
	popup-user: 15,
) !default;
