.flags-product {
	display: block;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 5;

	p {
		background-repeat: no-repeat;
		color: #fff;
		display: none;
		font-size: 11px;
		float: right;
		font-weight: 700;
		min-width: 54px;
		margin: 7px 100% 0 7px;
		overflow: hidden;
		padding: 2.5px 4px;
		text-indent: -9999px;

		&.produto-off {
			background: #142032;
			display: table;
			float: left;
			text-indent: 0;
			width: 50px;

			&:after {
				content: "OFF";
				display: inline-block;
			}
		}

		&.novo {
			background-color: #f71963;
			border-radius: 5px;
			display: table;
			float: left;
			text-indent: 0;
			text-transform: uppercase;
		}
	}
}
